<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Information</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- include('../header') %>
    <h3>Details for File: <%= file.fileName %></h3>
    <a href="/homepage/<%=  file.folderId %>">
      <button>Back to Folder</button>
    </a>
    <ul>
      <li><strong>Id:</strong> <%= file.id %></li>
      <li><strong>Name:</strong> <%= file.fileName %></li>
      <li><strong>Size:</strong> <%= (file.fileSize / 1024).toFixed(2) %> KB</li>
      <li><strong>Created At:</strong> <%= new Date(file.createdAt).toLocaleString() %></li>
      <li><strong>Last Updated:</strong> <%= new Date(file.updatedAt).toLocaleString() %></li>
    </ul>
    <a href="/download/<%= file.id %>">
      <button>Download File</button>
    </a>
  </body>
</html>
