<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Information</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- include('../header') %>
    <h3 class="title">Details for File: <%= file.fileName %></h3>

    <div class="navigation">
      <a href="/homepage/<%=  file.folderId %>">
        <button>Back to Folder</button>

        <a href="/download/<%= file.id %>">
          <button>Download File</button>
        </a>
      </a>

    </div>

    <ul class="file-info">
      <li class="file-item"><strong class="label">Id: <%= file.id %></span></li>
      <li class="file-item"><strong class="label">Name: <%= file.fileName %></li>
      <li class="file-item"><strong class="label">Size: <%= (file.fileSize / 1024).toFixed(2) %> KB</li>
      <li class="file-item"><strong class="label">Created At: <%= new Date(file.createdAt).toLocaleString() %></span></li>
    </ul>
    
    
  </body>
</html>
