<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h2 class="title">Files</h2>
    <% if (folder) { %>
        <h3 class="folder-name">Current Folder: <%= folder.folderName %></h3>
    <% } %>

    <div class="navigation">
        <% if (folder) { %>
            <% if (parentFolder) { %>
                <a href="/homepage/<%= parentFolder.id %>">
                    <button>Back to <%= parentFolder.folderName %></button>
                </a>
            <% } %>
            <a href="/homepage">
                <button>Back to Home</button>
            </a>
        <% } %>

        <a href="<%= folder ? '/create-folder/' + folder.id : '/create-folder' %>">
            <button>Create New Folder</button>
        </a>
    
        <a href="<%= folder ? '/create-file/' + folder.id : '/create-file' %>">
            <button>Upload New File</button>
        </a>

        <form action="/logout" method="POST">
            <button class="messages-nav" type="submit">Log Out</button>
        </form>
    </div>

    <div class="file-folder-table">
        <%- include('folderTable', { filesAndFolders }); %>
    </div>
</body>
</html>