<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
</head>
<body>
    <h2 class="title">Welcome to the homepage</h2>
    <form action="/logout" method="POST">
        <button class="messages-nav" type="submit">Log Out</button>
    </form>

    <div>
        <% if (folder) { %>
            <h3>Current Folder: <%= folder.folderName %></h3>
            <% if (parentFolder) { %>
                <a href="/homepage/<%= parentFolder.id %>">
                    <button>Back to <%= parentFolder.folderName %></button>
                </a>
            <% } %>
            <a href="/homepage">
                <button>Back to Home</button>
            </a>
        <% } %>
    </div>

    <a href="<%= folder ? '/create-folder/' + folder.id : '/create-folder' %>">
        <button>Create New Folder</button>
    </a>

    <a href="<%= folder ? '/create-file/' + folder.id : '/create-file' %>">
        <button>Upload New File</button>
    </a>

    <div class="file-folder-table">
        <%- include('folderTable', { filesAndFolders }); %>
    </div>
</body>
</html>
